{% extends 'base.html' %}

{% block content %}
    <h2>{{ user_data.get('nome_usual', 'Nome não disponível') }}</h2>
    <img src="{{ user_data.get('url_foto_150x200', '/static/default-profile.png') }}" alt="Foto do Usuário">

    <p><b>Nome Usual</b>: {{ user_data.get('nome_usual', 'Nome não disponível') }}</p>
    <p><b>Nome Completo</b>: {{ user_data.get('nome_completo', 'Nome completo não disponível') }}</p>
    <p><b>Email</b>: {{ user_data.get('email', 'Email não disponível') }}</p>
    <p><b>Telefone</b>: {{ user_data.get('telefone', 'Telefone não disponível') }}</p>
    <p><b>Endereço</b>: {{ user_data.get('endereco', 'Endereço não disponível') }}</p>
    <p><b>Data de Nascimento</b>: {{ user_data.get('data_nascimento', 'Data de Nascimento não disponível') }}</p>
    <p><b>Gênero</b>: {{ user_data.get('genero', 'Gênero não disponível') }}</p>
    <p><b>Data de Registro</b>: {{ user_data.get('data_registro', 'Data de Registro não disponível') }}</p>
    <p><b>CPF</b>: {{ user_data.get('cpf', 'CPF não disponível') }}</p>
    <p><b>Identidade</b>: {{ user_data.get('identidade', 'Identidade não disponível') }}</p>
    <p><b>Instituição</b>: {{ user_data.get('instituicao', 'Instituição não disponível') }}</p>
    <!-- Adicione mais variáveis conforme necessário -->

{% endblock %}
