<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - SUAP OAuth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Perfil do Usuário</h1>
    <img src="{{ user['url_foto_75x100'] }}" alt="Foto do Usuário">
    <ul>
        <li><strong>Nome:</strong> {{ user['nome'] }}</li>
        <li><strong>Email:</strong> {{ user['email'] }}</li>
        <li><strong>Matricula:</strong> {{ user['matricula'] }}</li>
    </ul>
    <a href="{{ url_for('boletim') }}">Ver Boletim</a>
</body>
</html>
